@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:Switzer;
    src:url(./Switzer.woff2) format("woff2");
    font-weight:300 900;
    font-style:normal;
    font-display:swap
}
  
pre {
    @apply whitespace-pre-wrap break-words;
  }
  
  code {
    @apply whitespace-pre-wrap;
  }
  